#statusContainer
	label Status
	span#status Disconnected!
fieldset#connectedPeopleContainer
	legend Connected People
	ul#connectedPeople
fieldset#messagesContainer
	legend Messages
	#messages
fieldset#sendMessageContainer
	legend Send Message
	span= nickName
	input#message
script
	$(document).ready(function() {
		// socket.io specific code
		var socket = io.connect();
		
		socket.on('connect', function(data) { 
			$('#status').addClass('connected'); 
			$('#status').text('Connected');

			socket.on('updatepeople', function(nickNames) {
				console.log('in people update with ' + nickNames);
				var lis = '';
				for(var idx=0;idx<nickNames.length;idx++) {
					lis = lis + '<li>' + nickNames[idx] + '</li>';
				}
				$('#connectedPeople').html(lis);
			});

			socket.on('newmessage', function(nickName, time, message) {
				console.log('got message ' + message + ' from ' + nickName);
				$('#messages').append('<li> [' + nickName + '] ' + time + ' ' + message + '</li>');
			});

			$('#message').keydown(function(e) {
				if (e.keyCode && e.keyCode == '13'){
					console.log('in sendMessage with val ' + $('#message').val());
					socket.emit('sendMessage', $('#message').val());
					$('#message').val('').focus();
					return false;
				}
				return true;
			});
		});
	});