!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://code.jquery.com/jquery-1.6.1.min.js')
		script(src='/socket.io/socket.io.js')
		body
			h1 Ajilon Developers Network - Powered by NodeJS
			nav
				//a(href='/Account/ChangePassword') Change My Password
				a(href='/Account/Logout') Logout
			div!= body