form(method="post", action="/Account/Login")
	- if (typeof(errorMsg) != 'undefined')
		p= errorMsg
	fieldset
		legend Please enter your login details
		p
			span Email:
			input(type="text", name="email", value="sean.bedford@ajilon.com")
		p
			span Password: 
			input(type="password", name="password", value="@jilon01")
		p
			span Remember me: 
			input(type="checkbox", name="remember")
		p
			input(type="submit", value="login")