body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#statusContainer
{
    width:100%;
    margin-top:10px;
}
#status 
{
    width:50px;
    color:#FF0000;
    margin-left:20px;
}
#status.connected
{
    color:#00FF00;
}
#connectedPeopleContainer
{
    float:left;
    width:20%;
    min-height:50%;
    height:300px;
    overflow:auto;
}
#connectedPeople
{
	margin-left:0;
	padding-left:10px;
}
#message
{
	width:100%;
}
#messagesContainer
{
    float:left;
    width:75%;
    min-height:50%;
    height:300px;
    overflow:auto;
}
#sendMessageContainer
{
    clear:both;
}